.new-tabe button {
    margin: 5px 20px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}

.task-body {
    height: 100vh;
}

.inp-box {
    border: 1px solid;
    border-radius: 15px;
    height: 134px;
    width: 303px;
    margin: 20px;
    padding: 5px;
    position: absolute;
    z-index: 99;
    background: #2c2b2bf7;
    top: 105px;
}

.inp-box p {
    text-align: center;
    color: #fff;
}

.inp-box button {
    margin: 2px 6px;
    font-size: 15px;
    padding: 8px 34px;
    border-radius: 10px;
    border: 1px solid black;
}

.inp-box button:last-child {
    background-color: green;
    color: #fff;
}

.inp-box input {
    padding: 10px 57px 10px 14px;
    font-size: 16px;
    margin: 10px 8px 5px;
    border-radius: 10px;
    border: 1px solid;
}

.multilist {
    display: flex;
}

.box-list h3 {
    margin-left: 55px;
}

.box-task {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 150px;
    width: 150px;
    background-color: #fff;
}